.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainheader{
  padding-top: 20px;
  margin: auto;
}

.ui.menu{
  background:rgb(122, 138, 30);
}
.ui.secondary.menu {
  padding-top: 10px;
  height: 30px;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bolder;
}
.cards{
margin: auto;
padding: 15px;
display: flex;
justify-content: space-between;
max-width: 500px;
}

.ui.card{
  margin: auto;
  background-blend-mode: luminosity;
  background-color:rgb(169, 255, 212);
  width: fit-content;
  max-width: 500px;
}

.crypto {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.featuredcard {
  margin: auto;
  background-color: khaki;
  padding-bottom: 50px;
}
.bulletin {
  padding-top: 20px;
  padding: 10px;
  background-color:rgb(169, 255, 212);
  box-shadow: lightcoral;
}
.bulletin Button{
  background-color: magenta;
}

a.item {
  height: 28.18px
}

.details{
  margin: auto;
}

ui.modal {
  margin: auto;
}

/* .main{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
} */

.newss {
  padding: 10px;
  flex-wrap:wrap;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  
}

.news{
  max-width: 300px;
  min-width: 300px;
}

.detailbutton{
  flex-wrap: wrap;
}

.details{
  margin: auto;
  border-top: 8px solid rgb(9, 255, 0);
  border-bottom: 8px solid rgb(9, 255, 0);
  border-left: 8px solid rgb(9, 255, 0);
  border-right: 8px solid rgb(9, 255, 0);
  border-radius: 5px;
  /* text-align: center; */
  background-color: rgb(236, 255, 132)
}

.detailbutton{
  margin: auto;
  align-content: center;
  align-items: center;
}

.titlehead{

}
.detailcard{
  align-items: baseline;
  align-content: flex-start;
  flex-wrap: wrap;
}

.column{
  max-width: 300px;
  justify-content: space-evenly;
  padding-left: 40px;
}
