.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainheader{
  padding-top: 20px;
  margin: auto;
}

.ui.menu{
  background:rgb(236, 255, 132);
}
.ui.secondary.menu {
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bolder;
}
.cards{
margin: auto;
padding: 15px;
display: flex;
justify-content: space-between;
}

.ui.card{
  background-blend-mode: luminosity;
  background-color:rgb(169, 255, 212);
}

.crypto {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}